<div class="container mt-5">
  <div class="alert alert-primary text-center" role="alert">Edytuj wartości w formularzu aby zobaczyć błędy</div>

  <form [formGroup]="form">
    <div class="mb-3">
      <label for="email">Email</label>
      <input class="form-control" formControlName="email" id="email" autocomplete="off" />
      <app-control-errors [control]="form.get('email')!" for="email">
        <ng-template appControlError="required">
          Musisz podać adres email, aby potwierdzić swoją tożsamość.
        </ng-template>
      </app-control-errors>
    </div>

    <div class="mb-3">
      <label for="password">Password</label>
      <input class="form-control" formControlName="password" id="password" autocomplete="off" />
      <app-control-errors [control]="form.get('password')!" for="password"></app-control-errors>
    </div>

    <div class="mb-3">
      <label for="repeatedPassword">Repeat password</label>
      <input class="form-control" formControlName="repeatedPassword" id="repeatedPassword" autocomplete="off" />
      <app-control-errors [control]="form.get('repeatedPassword')!" for="repeatedPassword"></app-control-errors>
      <app-control-errors [control]="form" for="repeatedPassword">
        <ng-template appControlError="passwordMatch">Pola nie pasują do siebie!</ng-template>
      </app-control-errors>
    </div>
  </form>
</div>
